<div data-template="appment-tmpl" data-bind="source: appments">

</div>

<script type="text/x-kendo-template" id="appment-tmpl">
    <div style="border: 2px solid black; margin-bottom: 1px">
        <div>Subject: <strong>#= subject #</strong></div>
        <div>Appointment Date: <strong>#= appointmentDate #</strong></div>
        <div>Created at: <strong>#= createdAt #</strong></div>
        <div>Description: <strong>#= description #</strong></div>
        <div>Duration: <strong>#= duration #</strong></div>
        <div>State: <strong>#= state #</strong></div>
    </div>
</script>