<div>
    <label for="tb-subject">Subject</label>
    <input type="text" data-bind="value: subject" id="tb-subject"/>
    <br />

    <label for="tb-description">Description</label>
    <input type="text" data-bind="value: description" id="tb-description"/>
    <br />

    <label for="tb-appmentDate">Appointment date</label>
    <input type="text" data-bind="value: appointmentDate" id="appmentDate"/>
    <br />

    <label for="tb-duration">Duration</label>
    <input type="text" data-bind="value: duration" id="tb-duration"/>
    <br />

    <button data-bind="click: create" class="btn btn-primary">Create</button>
</div>