@model IEnumerable<Twitter.Application.Models.ApplicationUserViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row-fluid">
    <div class="span12">
        <h3>Users</h3>
        <ul class="lead">
            @foreach (var user in Model)
            {
                <li>
                    <a href="~/Tweets/All/@user.UserName">@user.UserName</a>
                </li>
            }
        </ul>
    </div>
</div>
