<h1>Team Indium</h1>
                <h2>Simple Blog SPA</h2>
                <p>Team members:</p>
                <ul>
                    <li>Nikolay Kolev</li>
                    <li>Iliyan Iliev</li>
                    <li>Iliyan Tanev</li>
                    <li>Denis Rizov</li>
                </ul>
                <hr />
                <h4>Main features</h4>
                <ul>
                    <li>User management system</li>
                    <li>Adding, modifying and deleteing of posts</li>
                    <li>Organizing posts via automated tag system</li>
                    <li>Adding comments to posts, restricted to logged users</li>
                </ul>
                <hr />
                <h4>Client Side</h4>
                <p>A Kendo UI MVVM application, using bootstrap css framework</p>
                <hr />
                <h4>Admin Side</h4>
                <p>An angularJS MVC application, using bootstrap css framework with custom admin template</p>