<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <urlMappings>
      <add mappedUrl="~/Bulgaria/BulgariaHome.aspx" url="~/bg/home" />
      <add mappedUrl="~/Bulgaria/BulgariaAbout.aspx" url="~/bg/about" />
      <add mappedUrl="~/Bulgaria/BulgariaContacts.aspx" url="~/bg/contacts" />
      <add mappedUrl="~/England/EnglandHome.aspx" url="~/en/home" />
      <add mappedUrl="~/England/EnglandAbout.aspx" url="~/en/about" />
      <add mappedUrl="~/England/EnglandContacts.aspx" url="~/en/contacts" />
    </urlMappings>
  </system.web>
</configuration>