USE [master]
GO
/****** Object:  Database [VisitorsCounterDb]    Script Date: 11.9.2013 г. 22:43:14 ******/
CREATE DATABASE [VisitorsCounterDb]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VisitorsCounterDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VisitorsCounterDb]
GO
/****** Object:  Table [dbo].[VisitorsCounter]    Script Date: 11.9.2013 г. 22:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorsCounter](
	[VisitorsCounterId] [int] IDENTITY(1,1) NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_VisitorsCounter] PRIMARY KEY CLUSTERED 
(
	[VisitorsCounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[VisitorsCounter] ON 

GO
INSERT [dbo].[VisitorsCounter] ([VisitorsCounterId], [Count]) VALUES (1, 0)
GO
SET IDENTITY_INSERT [dbo].[VisitorsCounter] OFF
GO
USE [master]
GO
